.App {
  font-family: sans-serif;
  text-align: center;
}

.wrapper {
  display: flex;
  margin: 0 5px;
  overflow: hidden;
  padding: 0;
  max-width: 880px;
  min-width: 320px;
}

.wrapper ul {
  display: flex;
  max-width: 100%;
  margin: 0;
  padding: 0;
}
.wrapper li {
  min-width: 120px;
  margin: 5px;
  box-sizing: border-box;
}
