.App {
  font-family: sans-serif;
  text-align: center;
}

.wrapper {
  display: flex;
  overflow: hidden;
  max-width: 770px;
  margin: 0;
  padding: 0;
}

.wrapper ul {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
}
.wrapper li {
  min-width: 100px;
  margin: 5px;
  box-sizing: border-box;
}
